<div id="container">
  <div id="saludo">
    <h1>Bienvenid@ <span>{{name}}</span></h1>
  </div>
  <div id="obtenerDatos" *ngIf="rol=='admin'">
    <div class="mb-3">
      <label for="Nombre" class="form-label">Nombre</label><br>
      <input type="text" [(ngModel)]="nombre">
    </div>
    <div class="mb-3">
      <label for="Dirección" class="form-label">Dirección</label><br>
      <input type="text" [(ngModel)]="direccion">
    </div>
    <div class="mb-3">
      <label for="Edad" class="form-label">Edad</label><br>
      <input type="text" [(ngModel)]="edad">
    </div>
    <div class="mb-3">
      <label for="Estado" class="form-label">Estado</label><br>
      <input type="text" [(ngModel)]="estado">
    </div>
    <button class="btn btn-success" type="button" (click)="guardar()">Guardar</button>
  </div>
  <table class=" table table-dark table-striped" *ngIf="rol=='admin'" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Edad</th>
        <th scope="col">Estado</th>
        <th scope="col">Opción 1</th>
        <th scope="col">Opción 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of personas'>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.estado}}</td>
        <td><a class="btn btn-primary" href="home/{{name}}/{{rol}}" (click)="editar(item.id)">Editar</a></td>
        <td><a class="btn btn-danger" href="home/{{name}}/{{rol}}" (click)="eliminar(item.id)">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
  <table class=" table table-dark table-striped" *ngIf="rol=='invitado'" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Edad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of personas'>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.estado}}</td>
      </tr>
    </tbody>
  </table>
  <div id="btn_salir">
    <button class="btn btn-danger" type="button" (click)="salir()">Salir</button>
  </div>
</div>